.header{
	background-color:red;
	text-align:center;
	color:white;
	padding-bottom:1%;
	padding-top:2%;
}
.nav li{	
	display:inline;
	float:right;
	padding:1%;
	
}
body{
    text-align:center;
	background-color:lightblue;
	background-image:url();
	background-position:center
	background-repeat:no-repeat;
	background-size:100%;
	height:140%;
	}
.body{

}
